/* ASIDE PHOTO */
.aside1 {
  border-radius: 50%;
  width: 90%;
  overflow: hidden;
  border: solid;
  background-color: black;
  position: absolute;
  top: 10%;
  left: 5%;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: -9px 9px 24px -3px rgba(43, 42, 43, 1);
  -moz-box-shadow: -9px 9px 24px -3px rgba(43, 42, 43, 1);
  box-shadow: -9px 9px 24px -3px rgba(43, 42, 43, 1);
}
.aside1::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.projectsList {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectsList li {
  /* border: solid black;
  background-color: black;
  border-radius: 20px; */
  text-align: center;
  margin-bottom: 3%;
}
.projectsList li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 1.3;
}
.back1 {
  background-color: white;
  color: black;
  margin: 0 auto;
  border: 1px solid;
  position: absolute;
  top: 15%;
  left: 45%;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  width: 5%;
  height: 5%;
  font-size: 10px;
}
.back1:hover {
  cursor: pointer;
}
/* ASIDE DEV */
.aside2 {
  border-radius: 50%;
  width: 90%;
  overflow: hidden;
  border: solid;
  background-color: black;
  position: absolute;
  top: 8%;
  left: 5%;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: -9px 9px 24px -3px rgba(43, 42, 43, 1);
  -moz-box-shadow: -9px 9px 24px -3px rgba(43, 42, 43, 1);
  box-shadow: -9px 9px 24px -3px rgba(43, 42, 43, 1);
}
.aside2::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.webList {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.webList li {
  text-align: center;
  margin-bottom: 3%;
}
.webList li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 1.3;
}
.webList li a:nth-child(1):after {
  content: " ·";
  color: white;
}
.back2 {
  background-color: white;
  color: black;
  margin: 0 auto;
  border: 1px solid;
  position: absolute;
  top: 15%;
  left: 45%;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  width: 5%;
  height: 5%;
  font-size: 10px;
}
.back2:hover {
  cursor: pointer;
}
.hidden {
  visibility: hidden;
}
.opacity {
  opacity: 0.3;
}
/* ANIMATION ASIDES ENTER AND EXIT */
.animationEnter {
  animation-name: entranceAside;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  opacity: 1;
}
@keyframes entranceAside {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 1;
  }
}
/* NOT WORKING */
.animationExit {
  animation-name: exitAside;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes exitAside {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@media all and (min-width: 641px) {
  .aside2 {
    top: 10%;
    left: 30%;
    width: 40%;
  }
  .aside1 {
    top: 10%;
    left: 15%;
    width: 70%;
  }
  .webList li a {
    font-size: 30px;
  }
  .projectsList li a {
    font-size: 30px;
  }
  .back2 {
    font-size: 14px;
  }
  .back1 {
    font-size: 14px;
  }
}
@media all and (min-width: 1200px) {
  .aside2 {
    top: 5%;
    left: 25%;
    width: 50%;
  }
  .aside1 {
    top: 5%;
    left: 25%;
    width: 50%;
  }
  .webList li a {
    font-size: 35px;
  }
  .projectsList li a {
    font-size: 35px;
  }
}
@media all and (min-width: 2000px) {
  .aside2 {
    top: 0;
    left: 25%;
  }
}
