body {
  height: 100vh;
  width: 100%;
}

.header {
  border: 1px solid red;
  padding: 4%;
  width: 100%;
  height: 20%;
}
/* .icon {
  width: 30px;
  height: 30px;
} */
.icon img {
  width: 30px;
  object-fit: contain;
}
.main {
  border: 1px solid green;
  widows: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
